@import "settings";
@import "bourbon";

.sideBar {
    position:fixed;
    top:0; left:0;
    width:$sidebar-width; height:100%;
    background:$global-gray-background;
    padding-top:$topbar-height + 15px;
    padding-bottom:270px;
    border-right:$global-gray-border;
    overflow-y: auto;
    z-index:2;
    .jump-calendar {
      display: none;
      position:absolute;
      bottom:35px; left:0;
      &.folded {
        bottom:-160px;
      }
      .header, .labels {
        background: #FAFAFA;
      }
      .header, .labels, .grid {
        float:left;
        width:100%;
        height:auto;
      }
      .labels .label, .grid .block {
        float:left;
        width:percentage(1/7);
        font-size:12px;
        text-align: center;
      }
      .labels {
        padding-top:7px;
        padding-bottom:7px;
        .label {
          color:darken(white,75%);
          font-weight:100;
        }
      }
      .grid {
        background: #F3F3F3;
        border-top:$global-gray-border;
        .week {
          &:hover {
            background:darken(white,4%);
            cursor:default;
          }
          .block {
            background: rgba(black,.03);
            color:#333333;
            font-weight:200;
            padding-top:10px;
            padding-bottom:9px;
            border:1px solid transparent;
            &:hover {
              color:darken(#333333,7%);
              font-weight:400;
            }
            &.offset {
              background:transparent;
              color:lighten(#333333,50%);
            }
          }
          &.current {
            background:lighten(#AAB5AA,24%);
            @include transition(.2s all ease-in-out);
            &:hover {
              background:lighten(#AAB5AA,22%);
              .block {
                color:darken(white,85%);
              }
            }
          }
          &:first-child {
            margin-top:0;
          }
        }
      }
      .header {
        position: relative;
        text-align: center;
        padding-top:8px;
        padding-bottom:10px;
        .back, .next, .title  {
          &:hover {
            cursor:pointer;
          }
        }
        .back, .next {
          position: absolute;
          top:9px;
          color:#939398;
          font-size:12px;
          font-weight:200;
        }
        .back {
          left:$global-gutter;
        }
        .title {
          display: inline-block;
          color:#333333;
          .year {
            margin-left:5px;
          }
        }
        .next {
          right:$global-gutter;
        }
      }
    }
    .access-module, .manage-filters, .jump-calendar, .interact {
      width:100%;
    }
    .access-module, .manage-filters {
      float:left;
      margin-top:36px;

      &:first-child {
        margin-top:0;
      }
      .access-header {
        color:$list-header-color;
        font-size:$list-header-fontsize;
        font-weight:$list-header-fontweight;
        text-transform:uppercase;
        padding:0 $sidebar-gutter $list-header-paddingbottom $sidebar-gutter;
        margin-bottom:$list-header-marginbottom;
        border-bottom:$global-gray-border;
        &:hover {
          .list-all {
            color:darken(white,40%);
          }
        }
        .list-all {
          float:right;
          color:transparent;
          &:hover {
            color:darken(white,60%);
            cursor:pointer;
          }
        }
      }
      .thumb {
        float:left;
        width:100%;
        padding-left:$sidebar-gutter;
        padding-right:$sidebar-gutter * .5;
        margin-bottom:0px;
        &:hover {
          background:darken(white,3%);
          cursor: pointer;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
        .title {
          @include ellipsis(87%);
        }
      }

    }
    .interact {
      position: absolute;
      bottom:0; left:0;
      height:35px;
      background: lighten($global-gray-background, 4%);
      border-top:$global-gray-border;
      .option {
        height:100%;
        &.add-event, &.add-filter, &.access-settings {
          color:darken(white,65%);
          padding-top:10px;
          padding-left:10px;
          padding-right:8px;
          &:hover {
            background: darken(white,3%);
            color:darken(white,84%);
            cursor:pointer;
          }
        }
        &.add-event, &.add-filter {
          float:right;
          border-left:$global-gray-border;
        }
        &.access-settings {
          float:left;
          padding-left:$sidebar-gutter;
        }
      }
    }
}
