.topBar {
  position:fixed;
  top:0; left:0;
  background:$primary-color;
  padding-left:$sidebar-gutter - 1px;
  padding-right:$global-gutter;
  z-index:3;
  @include size(100% $topbar-height);
  .search {
    position: relative;
    width:430px;
    .pane, input {
      width:100%;
    }
    .pane {
      position:absolute;
      top:27px; left:0;
      border-top:none;
    }
    &.active {
      .pane {
        display:block;
      }
      input {
        background:$pane-background;
        border:$pane-border;
        border-bottom:none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &:hover, &:focus {
          background:$pane-background;
        }
      }
    }
    input {
      height:26px;
      background: darken(white,1%);
      font-size:13px;
      font-weight:400;
      border-radius:$global-radius;
      border:1px solid transparent;
      @include transition(.12s all ease-in-out);
      @include placeholder {
        color:darken(white,60%);
        font-weight:300;
      }
      &:hover, &:focus {
        background: white;
        @include placeholder {
          color:darken(white,77%);
        }
      }
    }
  }
  .notify {
    position: relative;
    height:100%;
    margin-right:12px;
    &.active {
      .pane {
        position:absolute;
        top:47px; left:-184px;
        width:395px;
        display:block;
        .pane-header {
          display:none;
        }
      }
    }
    .trigger {
      position: relative;
      height:100%;
      color:darken($primary-color,15%);
      font-size:17px;
      padding-top:13px;
      padding-left:8px;
      padding-right:8px;
      .notify-count {
        position: absolute;
        top:23px; left:18px;
      }
      &:hover {
        background:rgba(black,.11);
      }
    }
    .pane {

    }
  }
  .identify {
    padding-right:7px;
    border-top-right-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
    &:hover {
      background:lighten($primary-color,2%);
      cursor:pointer;
    }
    .title {
      color:rgba(white,.9);
      font-size:13px;
      font-weight:300;
    }
  }
  .logo {
    background:darken($primary-color,5%);
    color:rgba(white,.40);
    font-weight:400;
    padding:6px 6px 7px 7px;
    border-radius:$global-radius;
    margin-top:7px;
    margin-right:15px;
    &:hover {
      cursor: default;
    }
  }
  .logo, .identify {
    float:left;
  }
  .notify, .search {
    float:right;
  }
  .identify, .search {
    margin-top:7px;
  }
}
