.topBar {
    pos: absolute;
    top:0; left:0;
    width:100%;
    height:45px;
    bgc: #354F37;
    z-index:3;
    .logo, .identify {
        float:left;
        margin-top:8px;
    }
    .notify, .search {
        float:right;
    }
    .logo {
        bgc:rgba(#000,.2);
        color:rgba(#FFF,.4);
        padding:6px 8px;
        margin-right:15px;
        br:1px;
    }
}