.post-entry {
  float:left;
  width:100%;
  background: darken(white,3%);
  box-shadow:0 1px 0 rgba(black,.030);
  .input-row {
    float:left;
    width:100%;
    &.entry-interact {
      height:25.44px;
      border-bottom:1px solid darken(white,30%);
      border-left:1px solid darken(white,24%);
      border-right:1px solid darken(white,24%);
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
      .dropdown {
        float:right;
        margin-right:3px;
        &.privacy-options {
          .dropdown-trigger {
            background: transparent;
            padding-top:7px;
            padding-bottom:7px;
            border:none;
            box-shadow: none;
            .trigger-icon {
              padding-top:0;
            }
            .trigger-caret {
              margin-left:5px;
            }
          }
        }
      }
      .entry-submit {
        position: relative;
        float:right;
        color:darken(white,75%);
        font-size:13px;
        font-weight:400;
        padding:6.5px 5px 5px 9px;
        border:none;
        border-radius:0;
        box-shadow: none;
        &:hover {
          cursor:pointer;
        }
      }
      .entry-asset {
        float:left;
        height:100%;
        color:darken(white,63%);
        font-size:11px;
        padding:7px 8px 0 13px;
        .asset-title {
          display: none;
          font-weight:400;
        }
        .asset-icon {
          font-size:11px;
          margin-right:4px;
        }
        .asset-icon, .asset-title {
          float: left;
        }
        &.scale-down {
          padding-top:8.55px;
          padding-bottom:8px;
          .asset-icon {
            font-size:9.4px;
          }
        }
        &:first-of-type {
          margin-left:0;
        }
        &:hover {
          background: darken(white,6%);
          color:darken(white,90%);
          cursor: pointer;
        }
      }
    }
    &.entry-value {
      .post-emoji {
        display: none;
        position: absolute;
        top:7px; right:6px;
        .emoji-trigger {
          float:left;
          color:darken(white,15%);
          font-size:16px;
          @include transition(.15s color ease-in-out);
          &:hover {
            color:darken(white,60%);
          }
        }
      }
      .input-field {
        float:left;
        width:100%;
        height:55px;
        background: darken(white,1%);
        font-size:13px;
        padding:6px 7px 7px 7px;
        border-top:1px solid darken(white,25%);
        border-bottom:1px solid darken(white,16%);
        border-left:1px solid darken(white,24%);
        border-right:1px solid darken(white,24%);
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
        outline: none;
        resize: none;
        @include placeholder {
          color:darken(white,50%);
          font-weight:300;
        }
      }
    }
  }
  &.entry-reply {
    .input-row {
      &.entry-interact {
        display: none;
        height:25px;
      }
      &.entry-value {
        .entry-submit {
          .post-emoji {
            display: block;
          }
          .input-field {
            float:left;
            width:100%;
            height:56px;
            background: darken(white,1%);
            font-size:13px;
            padding-right:25px;
            border-top:1px solid darken(white,20%);
            border-bottom:1px solid darken(white,22%);
            border-left:1px solid darken(white,20%);
            border-right:1px solid darken(white,20%);
            border-radius:1px;
            box-shadow:0 1px 0 rgba(black,.01);
          }
        }
      }
    }
  }
}
