.post-entry {
  float:left;
  width:100%;
  background: darken(white,3%);
  box-shadow:0 1px 0 rgba(black,.035);
  .input-row {
    float:left;
    width:100%;
    &.entry-interact {
      border-bottom:1px solid darken(white,30%);
      border-left:1px solid darken(white,24%);
      border-right:1px solid darken(white,24%);
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
      .dropdown {
        float:right;
        margin-right:3px;
        &.privacy-options {
          .dropdown-trigger {
            background: transparent;
            padding-top:8.45px;
            padding-bottom:7px;
            //border:1px solid lighten(#D6D6D6,9%);
            border:none;
            .trigger-icon {
              padding-top:0;
            }
            .trigger-caret {
              //display: none;
              margin-left:5px;
            }
            &:hover {
              //border-left-color:lighten(#D6D6D6,5%);
              //border-right-color:lighten(#D6D6D6,5%);
            }
          }
        }
      }
      .entry-submit {
        position: relative;
        float:right;
        color:darken(white,75%);
        font-size:13px;
        font-weight:400;
        padding:8px 7px 5px 9px;
        border:none;
        border-radius:0;
        box-shadow: none;
        &:hover {
          cursor:pointer;
        }
      }
      .entry-asset {
        float:left;
        height:100%;
        color:darken(white,63%);
        font-size:12px;
        padding:8px 8px 7px 13px;
        .asset-title {
          display: none;
          font-weight:400;
        }
        .asset-icon {
          font-size:11px;
          margin-top:1px;
          margin-right:4px;
        }
        .asset-icon, .asset-title {
          float: left;
        }
        &.scale-down {
          padding-top:8px;
          padding-bottom:8px;
          .asset-icon {
            font-size:9.5px;
          }
        }
        &:first-of-type {
          margin-left:0;
        }
        &:hover {
          background: darken(white,6%);
          color:darken(white,90%);
          cursor: pointer;
        }
      }
    }
    &.entry-value {
      .input-field {
        float:left;
        width:100%;
        height:70px;
        background: darken(white,1%);
        font-size:13px;
        padding:6px 7px 7px 7px;
        border-top:1px solid darken(white,25%);
        border-bottom:1px solid darken(white,16%);
        border-left:1px solid darken(white,24%);
        border-right:1px solid darken(white,24%);
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
        outline: none;
        resize: none;
        @include placeholder {
          color:darken(white,50%);
          font-weight:300;
        }
      }
    }
  }
}
