.sideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background: #fafafa;
  padding-top: 55px;
  padding-bottom: 270px;
  border-right: 1px solid #D9D9D9;
  overflow-y: auto;
  z-index: 2; }
  .sideBar .jump-calendar {
    display: none;
    position: absolute;
    bottom: 35px;
    left: 0; }
    .sideBar .jump-calendar.folded {
      bottom: -160px; }
    .sideBar .jump-calendar .header, .sideBar .jump-calendar .labels {
      background: #FAFAFA; }
    .sideBar .jump-calendar .header, .sideBar .jump-calendar .labels, .sideBar .jump-calendar .grid {
      float: left;
      width: 100%;
      height: auto; }
    .sideBar .jump-calendar .labels .label, .sideBar .jump-calendar .grid .block {
      float: left;
      width: 14.28571%;
      font-size: 12px;
      text-align: center; }
    .sideBar .jump-calendar .labels {
      padding-top: 7px;
      padding-bottom: 7px; }
      .sideBar .jump-calendar .labels .label {
        color: #404040;
        font-weight: 100; }
    .sideBar .jump-calendar .grid {
      background: #F3F3F3;
      border-top: 1px solid #D9D9D9; }
      .sideBar .jump-calendar .grid .week:hover {
        background: whitesmoke;
        cursor: default; }
      .sideBar .jump-calendar .grid .week .block {
        background: rgba(0, 0, 0, 0.03);
        color: #333333;
        font-weight: 200;
        padding-top: 10px;
        padding-bottom: 9px;
        border: 1px solid transparent; }
        .sideBar .jump-calendar .grid .week .block:hover {
          color: #212121;
          font-weight: 400; }
        .sideBar .jump-calendar .grid .week .block.offset {
          background: transparent;
          color: #b3b3b3; }
      .sideBar .jump-calendar .grid .week.current {
        background: #ebeeeb;
        -webkit-transition: 0.2s all ease-in-out;
        -moz-transition: 0.2s all ease-in-out;
        transition: 0.2s all ease-in-out; }
        .sideBar .jump-calendar .grid .week.current:hover {
          background: #e6e9e6; }
          .sideBar .jump-calendar .grid .week.current:hover .block {
            color: #262626; }
      .sideBar .jump-calendar .grid .week:first-child {
        margin-top: 0; }
    .sideBar .jump-calendar .header {
      position: relative;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 10px; }
      .sideBar .jump-calendar .header .back:hover, .sideBar .jump-calendar .header .next:hover, .sideBar .jump-calendar .header .title:hover {
        cursor: pointer; }
      .sideBar .jump-calendar .header .back, .sideBar .jump-calendar .header .next {
        position: absolute;
        top: 9px;
        color: #939398;
        font-size: 12px;
        font-weight: 200; }
      .sideBar .jump-calendar .header .back {
        left: 6px; }
      .sideBar .jump-calendar .header .title {
        display: inline-block;
        color: #333333; }
        .sideBar .jump-calendar .header .title .year {
          margin-left: 5px; }
      .sideBar .jump-calendar .header .next {
        right: 6px; }
  .sideBar .access-module, .sideBar .manage-filters, .sideBar .jump-calendar, .sideBar .interact {
    width: 100%; }
  .sideBar .access-module, .sideBar .manage-filters {
    float: left;
    margin-top: 36px; }
    .sideBar .access-module:first-child, .sideBar .manage-filters:first-child {
      margin-top: 0; }
    .sideBar .access-module .access-header, .sideBar .manage-filters .access-header {
      color: #2b2b2b;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      padding: 0 7px 5px 7px;
      margin-bottom: 5px;
      border-bottom: 1px solid #D9D9D9; }
      .sideBar .access-module .access-header:hover .list-all, .sideBar .manage-filters .access-header:hover .list-all {
        color: #999999; }
      .sideBar .access-module .access-header .list-all, .sideBar .manage-filters .access-header .list-all {
        float: right;
        color: transparent; }
        .sideBar .access-module .access-header .list-all:hover, .sideBar .manage-filters .access-header .list-all:hover {
          color: #666666;
          cursor: pointer; }
    .sideBar .access-module .thumb, .sideBar .manage-filters .thumb {
      float: left;
      width: 100%;
      padding-left: 7px;
      padding-right: 3.5px;
      margin-bottom: 0px; }
      .sideBar .access-module .thumb:hover, .sideBar .manage-filters .thumb:hover {
        background: #f7f7f7;
        cursor: pointer; }
      .sideBar .access-module .thumb:last-of-type, .sideBar .manage-filters .thumb:last-of-type {
        margin-bottom: 0; }
      .sideBar .access-module .thumb .title, .sideBar .manage-filters .thumb .title {
        display: inline-block;
        max-width: 87%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal; }
  .sideBar .interact {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35px;
    background: white;
    border-top: 1px solid #D9D9D9; }
    .sideBar .interact .option {
      height: 100%; }
      .sideBar .interact .option.add-event, .sideBar .interact .option.add-filter, .sideBar .interact .option.access-settings {
        color: #595959;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 8px; }
        .sideBar .interact .option.add-event:hover, .sideBar .interact .option.add-filter:hover, .sideBar .interact .option.access-settings:hover {
          background: #f7f7f7;
          color: #292929;
          cursor: pointer; }
      .sideBar .interact .option.add-event, .sideBar .interact .option.add-filter {
        float: right;
        border-left: 1px solid #D9D9D9; }
      .sideBar .interact .option.access-settings {
        float: left;
        padding-left: 7px; }
